<div class="row">
  <div class="col-6">
    <app-donus
      title="Sales"
      [doughnutChartLabels]="doughnutChartLabels"
      [doughnutChartData]="doughnutChartData"
    >
    </app-donus>
  </div>

  <div class="col-6">
    <app-donus
      title="Sales"
      [doughnutChartLabels]="doughnutChartLabels"
      [doughnutChartData]="doughnutChartData"
    >
    </app-donus>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <app-donus
      title="Sales"
      [doughnutChartLabels]="doughnutChartLabels"
      [doughnutChartData]="doughnutChartData"
    >
    </app-donus>
  </div>

  <div class="col-6">
    <app-donus
      title="Sales"
      [doughnutChartLabels]="doughnutChartLabels"
      [doughnutChartData]="doughnutChartData"
    >
    </app-donus>
  </div>
</div>
